# Introduction to  Python

## Basic Python Introduction

### Python Features

- High-Level
- Scripting
- Interpreted
- Dynamically-Typed
- Object-Oriented

### How to open Notebook in VSCode

1. [Install Anaconda](https://www.anaconda.com/products/individual)
  1. Download and install Anaconda, then open the app it installed
  2. When it opens, press "Jupyter Notebook"
2. [Install VSCode](https://code.visualstudio.com/download)
3. Clone Repository and open in Visual Studio Code
   1. `git clone https://github.com/TheGAITORClub/Resources`
   2. In VSCode: File -> Open
   3. *Then select cloned repo folder*
4. From file explorer on the left, open `Lectures/Week1/Week1.ipynb`
5. After opening the file on the top right corner
   1. Select Kernel
   2. Choose 'Suggested' (on right side)
   3. Run `pip install -r requirements.txt`


### How to open in Google Colab

1. Download the Notebook File from GitHub ()[]

### Common Keyboard Commands

- Run Cell: 'shift + return'
- Run Cell and insert below: 'option/alt + return'
- Indent: 'tab'
- Un-indent: 'shift + tab'
- Undo: 'command/control + z'
- Save File: 'command/control + s'
- [More Shortcuts](https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330)

### More Information on Python

- [Suggested YT Video](https://www.youtube.com/watch?v=kqtD5dpn9C8) - 3.4 million views, 93K likes
- [Dr. Silva Link](https://jakevdp.github.io/WhirlwindTourOfPython/) - Textbook

## Defining Variables

In [ ]:
var1 = 0 # that's it! type is inferred

## Types

### Numbers

In [ ]:
num0 = 0 # int
print("num0 type: ", type(num0))

num1 = 1.1 # float
print("num1 type: ", type(num1))

num2 = 1 + 2j # complex (not common)
print("num2 type: ", type(num2))

# Access
print("num0: ", num0)
print("num1: ", num1)
print("num2: ", num2)

# Update
num0 = 1
num1 = 1.2
num2 = 2 + 2j # just use arrays lol

# Delete (not common)
del num0
del num1
del num2

### Text

String (str) -> List of characters

In [ ]:
txt = "abc123" # str
print("txt type: ", type(txt))

# Access
txt[0] # a
txt[-1] # 3
txt[0:3] # abc
txt[0:3:2] # ac

# Update
# txt[0] = 'x' # will throw error (uncomment to see)

# Delete
# del txt[0] # will throw error (uncomment to see)

# Strings can be modified entirely
txt = "xyz789"
txt

# CHALLENGE: make a string with your name and print -> "Hello, my name is _________"

### Sequences

In [1]:
arr = [1, 2, 3] # list
print("arr type: ", type(arr))

tupl = (1, 2, 3) # tuple
print("tupl type: ", type(tupl))

rng = range(10) # range (generator)
print("rng type: ", type(rng))

# Access
arr[0] # 1
arr[-1] # 3
arr[0:3] # [1, 2, 3] [start:end]
arr[0:3:2] # [1, 3] [start:end:step]

# Update
arr[0] = 0 # [0, 2, 3]

# Delete
del arr[0] # [2, 3]
arr.pop() # 3 (removes last)
arr.remove(2) # [], removes first occurrence of 2

arr type:  <class 'list'>
tupl type:  <class 'tuple'>
rng type:  <class 'range'>

In [2]:
# CHALLENEGE: Add a entry to arr using the .push() method


arr

In [ ]:
# CHALLENGE: Remove the number you added


arr

### Mapping

In [ ]:
d = {
    "Kyle": 20,
    "Cole": 21
} # dict

# Access
d['Kyle'] # 1

# Update
d['Kyle'] = 10 # { "Kyle": 10, "Cole": 2 }

# CHALLENGE: Add yourself to the dictionary


print(d)

### Set

In [ ]:
ex_set = set()
ex_set.add(1)
ex_set.add(2)
ex_set.add(3)
ex_set.add(2)

# CHALLENGE: Add a number to the set


print("ex_set type: ", type(ex_set))
ex_set

## Iterating

### For Loops

#### For Each

In [ ]:
for i in [0, 1, 2]:
    print(i)

#### For Loops Using Range

In [ ]:
for i in range(3):
    print(i)

In [ ]:
for a in range(1, 7):
  out = ""
  for b in range(1, a+1): # range(a)
    out += "*"
  print(out)

#### Continue vs Break

In [ ]:
for i in range(3):
    if i == 1:
        continue
    print(i)

In [ ]:
for i in range(3):
    if i == 1:
        break
    print(i)

### While Loops

In [ ]:
while True:
    print("Hello")
    break

In [ ]:
# HARD CHALLENGE: Write a program that prints out all of the primes between 1 to some n

n = 1000

# Write code here :)

<details>

<summary>Show Answer</summary>

```python
current = 1
while current < n:
  if current == 1:
    print(current, end=" ")
    current += 1
    continue

  isPrime = True
  for i in range(2, current):
    if current % i == 0:
      isPrime = False
      break
  
  if isPrime == True:
    print(current, end=" ")
    
  current += 1
```
</details>

# Numpy Introduction

*Hint: to view environment variables click the 'Variables' button in the top bar of the Notebook*

In [ ]:
# This cell should work if you chose 'Conda Env'
import numpy as np

In [ ]:
# Making np.array from list
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Generate a random array with 10 entries
arr1D = np.random.rand(10)
# arr1D

In [ ]:
# Generate a random 5 row, 4 col 2D array
arr2D = np.random.rand(5, 4)
# arr2D

In [ ]:
# Generate a random 5x4x3 3D array
arr3D = np.random.rand(5, 4, 3)
# arr3D

In [ ]:
# Get Dimensions of the arrays
arr1D.ndim # 1
arr2D.ndim # 2
arr3D.ndim # 3

In [ ]:
# Get Shape of the arrays
arr1D.shape # (10,)
arr2D.shape # (5, 4)
arr3D.shape # (5, 4, 3)

In [ ]:
# Generate two random arrays with 10 entries then add them together
arr1 = np.array([10, 20, 30])
arr2 = np.array([1, 2, 3])
arr3 = np.concatenate([arr1, arr2])

# array (operation) array examples
addition = arr1 + arr2
subtraction = arr1 - arr2
multiplication = arr1 * arr2
division = arr1 / arr2

# array (operation) scalar examples
scalar_addition = arr1 + 2
scalar_subtraction = arr1 - 2
scalar_multiplication = arr1 * 2
scalar_division = arr1 / 2

In [ ]:
import example_class # import stuffs

a = example_class.Example("test")
a.p()

# Pandas Introduction (Next Lecture)

## Next Lecture

## Useful Resources

- [Pandas Compared to SQL](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html)
- [Other Pandas Comparisons](https://pandas.pydata.org/docs/getting_started/comparison/index.html)
- [Intro to Pandas YouTube](https://www.youtube.com/watch?v=e60ItwlZTKM&ab_channel=JoeJames)
  - This explains pandas in a much more succinct and accurate way than I can

## Loading a DataFrame

In [ ]:
import pandas as pd